Repository influxdata/docs-v2, pull requests merged in 2020-10, with the labels that each got.

#1593 feat(chronograf-cli): add TLS ciphers and versions
  content/chronograf/v1.8/tools/chronograf-cli/_index.md
Labels: Chronograf 1.x, hold off

#1685 Fix icons
  assets/styles/tools/_icomoon.scss
  content/example.md
  layouts/shortcodes/icon.html
  layouts/shortcodes/nav-icon.html
Labels: hacktoberfest-accepted

#1681 Readd deprecated v1 functions and update schema package
  content/influxdb/v2.0/query-data/flux/explore-schema.md
  content/influxdb/v2.0/reference/flux/stdlib/influxdb-schema/_index.md
  content/influxdb/v2.0/reference/flux/stdlib/influxdb-schema/fieldkeys.md
  content/influxdb/v2.0/reference/flux/stdlib/influxdb-schema/fieldsascols.md
  content/influxdb/v2.0/reference/flux/stdlib/influxdb-schema/measurementfieldkeys.md
  content/influxdb/v2.0/reference/flux/stdlib/influxdb-schema/measurements.md
  content/influxdb/v2.0/reference/flux/stdlib/influxdb-schema/measurementtagkeys.md
  content/influxdb/v2.0/reference/flux/stdlib/influxdb-schema/measurementtagvalues.md
  content/influxdb/v2.0/reference/flux/stdlib/influxdb-schema/tagkeys.md
  content/influxdb/v2.0/reference/flux/stdlib/influxdb-schema/tagvalues.md
  content/influxdb/v2.0/reference/flux/stdlib/influxdb-v1/_index.md
  content/influxdb/v2.0/reference/flux/stdlib/influxdb-v1/fieldkeys.md
  content/influxdb/v2.0/reference/flux/stdlib/influxdb-v1/fieldsascols.md
  content/influxdb/v2.0/reference/flux/stdlib/influxdb-v1/measurementfieldkeys.md
  content/influxdb/v2.0/reference/flux/stdlib/influxdb-v1/measurements.md
  content/influxdb/v2.0/reference/flux/stdlib/influxdb-v1/measurementtagkeys.md
  content/influxdb/v2.0/reference/flux/stdlib/influxdb-v1/measurementtagvalues.md
  content/influxdb/v2.0/reference/flux/stdlib/influxdb-v1/tagkeys.md
  content/influxdb/v2.0/reference/flux/stdlib/influxdb-v1/tagvalues.md
  content/influxdb/v2.0/reference/release-notes/flux.md
  content/influxdb/v2.0/visualize-data/variables/common-variables.md
Labels: hacktoberfest-accepted

#1219 Flux Sensu package
  content/influxdb/v2.0/reference/flux/stdlib/contrib/sensu/_index.md
  content/influxdb/v2.0/reference/flux/stdlib/contrib/sensu/endpoint.md
  content/influxdb/v2.0/reference/flux/stdlib/contrib/sensu/event.md
  content/influxdb/v2.0/reference/flux/stdlib/contrib/teams/endpoint.md
  content/influxdb/v2.0/reference/flux/stdlib/contrib/telegram/_index.md
  content/influxdb/v2.0/reference/flux/stdlib/contrib/telegram/endpoint.md
  content/influxdb/v2.0/reference/flux/stdlib/contrib/telegram/message.md
Labels: Flux, hacktoberfest-accepted

#1689 Flux 0.90
  content/influxdb/v2.0/reference/flux/stdlib/contrib/sensu/_index.md
  content/influxdb/v2.0/reference/flux/stdlib/contrib/sensu/endpoint.md
  content/influxdb/v2.0/reference/flux/stdlib/contrib/sensu/event.md
  content/influxdb/v2.0/reference/flux/stdlib/contrib/teams/endpoint.md
  content/influxdb/v2.0/reference/flux/stdlib/contrib/telegram/_index.md
  content/influxdb/v2.0/reference/flux/stdlib/contrib/telegram/endpoint.md
  content/influxdb/v2.0/reference/flux/stdlib/contrib/telegram/message.md
  content/influxdb/v2.0/reference/release-notes/flux.md
Labels: hacktoberfest-accepted

#1639 Update js.md
  content/influxdb/v2.0/tools/client-libraries/js.md
Labels: Client libraries, bug

#1692 Add information about barrier.idle and window.period
  content/kapacitor/v1.4/nodes/barrier_node.md
  content/kapacitor/v1.5/nodes/barrier_node.md
Labels: hacktoberfest-accepted

#1691 Response information for v1.8 health endpoint
  content/influxdb/v1.8/tools/api.md
Labels: hacktoberfest-accepted

#1458 Kapacitor 1.5.7
  content/kapacitor/v1.5/about_the_project/releasenotes-changelog.md
  content/kapacitor/v1.5/event_handlers/_index.md
  content/kapacitor/v1.5/event_handlers/opsgenie/v2.md
  content/kapacitor/v1.5/event_handlers/post.md
  content/kapacitor/v1.5/event_handlers/servicenow.md
  content/kapacitor/v1.5/event_handlers/slack.md
  content/kapacitor/v1.5/event_handlers/snmptrap.md
  content/kapacitor/v1.5/event_handlers/talk.md
  content/kapacitor/v1.5/event_handlers/tcp.md
  content/kapacitor/v1.5/event_handlers/telegram.md
  content/kapacitor/v1.5/event_handlers/victorops.md
  content/kapacitor/v1.5/nodes/alert_node.md
  content/kapacitor/v1.5/nodes/http_post_node.md
Labels: Pending Release

#1730 Added new Flux contrib/events package
  content/influxdb/v2.0/reference/flux/stdlib/built-in/transformations/elapsed.md
  content/influxdb/v2.0/reference/flux/stdlib/built-in/transformations/stateduration.md
  content/influxdb/v2.0/reference/flux/stdlib/contrib/events/duration.md
  content/influxdb/v2.0/reference/release-notes/flux.md
Labels: Flux
