Repository influxdata/docs-v2, pull requests merged in 2020-11, with the labels that each got.

#1760 Flux 0.93
  content/influxdb/v2.0/reference/flux/stdlib/influxdb/_index.md
  content/influxdb/v2.0/reference/flux/stdlib/influxdb/cardinality.md
  content/influxdb/v2.0/reference/glossary.md
  content/influxdb/v2.0/reference/release-notes/flux.md
Labels: Flux

#1782 New AWS US East region
  data/influxdb_urls.yml
Labels: InfluxDB Cloud

#1790 Flux 0.94
  content/influxdb/v2.0/reference/release-notes/flux.md
Labels: Flux

#1797 Add --log-level flag to `influxd upgrade`
  content/influxdb/v2.0/reference/cli/influxd/upgrade.md
Labels: Pending PR

#1873 add .0 to telegraf changelog
  content/telegraf/v1.16/about_the_project/release-notes-changelog.md
Labels: Telegraf
