Repository influxdata/docs-v2, pull requests merged in 2020-03, with the labels that each got.

#813 Geo package strict filtering explanation
  assets/styles/layouts/article/_svgs.scss
  assets/styles/themes/_theme-dark.scss
  assets/styles/themes/_theme-light.scss
  content/v2.0/reference/flux/stdlib/experimental/geo/filterrows.md
  content/v2.0/reference/flux/stdlib/experimental/geo/gridfilter.md
  content/v2.0/reference/flux/stdlib/experimental/geo/strictfilter.md
  static/svgs/geo-non-strict.svg
  static/svgs/geo-strict.svg
Labels: Flux

#818 Added s2CellIDToken to Geo package
  content/v2.0/reference/flux/stdlib/experimental/geo/s2cellidtoken.md
Labels: Flux

#838 Flux experimental CSV package
  content/v2.0/reference/flux/stdlib/csv/from.md
  content/v2.0/reference/flux/stdlib/experimental/csv/_index.md
  content/v2.0/reference/flux/stdlib/experimental/csv/from.md
  content/v2.0/reference/release-notes/flux.md
Labels: Flux

#847 fix(sql): sqlite datasource format and mode were incorrect
  content/v2.0/query-data/flux/sql.md
  content/v2.0/reference/flux/stdlib/sql/from.md
  content/v2.0/reference/flux/stdlib/sql/to.md
Labels: Flux

#852 Warning about SQLite driver
  content/v2.0/query-data/flux/sql.md
  content/v2.0/reference/flux/stdlib/sql/from.md
  content/v2.0/reference/flux/stdlib/sql/to.md
  content/v2.0/write-data/scrape-data/manage-scrapers/update-a-scraper.md
Labels: Flux

#851 Geo guide
  CONTRIBUTING.md
  content/v2.0/query-data/flux/_index.md
  content/v2.0/query-data/flux/geo/_index.md
  content/v2.0/query-data/flux/geo/filter-by-region.md
  content/v2.0/query-data/flux/geo/group-geo-data.md
  content/v2.0/query-data/flux/geo/shape-geo-data.md
  content/v2.0/reference/flux/stdlib/experimental/geo/_index.md
  layouts/shortcodes/children.html
Labels: Flux

#860 Added 'v1.databases' function
  content/v2.0/reference/flux/stdlib/influxdb-v1/databases.md
  content/v2.0/reference/flux/stdlib/influxdb-v1/measurements.md
  content/v2.0/reference/flux/stdlib/influxdb-v1/measurementtagkeys.md
  content/v2.0/reference/flux/stdlib/influxdb-v1/measurementtagvalues.md
  content/v2.0/reference/flux/stdlib/influxdb-v1/tagkeys.md
  content/v2.0/reference/flux/stdlib/influxdb-v1/tagvalues.md
Labels: Flux

#856 Miscellaneous Flux updates
  content/v2.0/reference/flux/stdlib/built-in/outputs/to.md
  content/v2.0/reference/flux/stdlib/json/encode.md
  content/v2.0/reference/flux/stdlib/regexp/splitregexp.md
  content/v2.0/reference/flux/stdlib/strings/splitafter.md
  content/v2.0/reference/flux/stdlib/strings/splitaftern.md
  content/v2.0/reference/flux/stdlib/strings/splitn.md
Labels: Flux

#854 Added the 'geo.shapeData' function
  assets/styles/layouts/article/_flex.scss
  content/v2.0/reference/flux/stdlib/experimental/geo/_index.md
  content/v2.0/reference/flux/stdlib/experimental/geo/filterrows.md
  content/v2.0/reference/flux/stdlib/experimental/geo/gridfilter.md
  content/v2.0/reference/flux/stdlib/experimental/geo/shapedata.md
Labels: Flux, Pending Release

#872 Line protocol and annotated CSV
  content/v2.0/reference/syntax/annotated-csv.md
Labels: Pending PR

#871 Added information about writing CSV
  content/v2.0/reference/cli/influx/write/_index.md
  content/v2.0/reference/cli/influx/write/dryrun.md
  content/v2.0/write-data/_index.md
  layouts/partials/article/related.html
Labels: Pending PR

#892 Update Flux state change functions
  content/v2.0/reference/flux/stdlib/monitor/statechanges.md
  content/v2.0/reference/flux/stdlib/monitor/statechangesonly.md
Labels: Flux
