Repository influxdata/docs-v2, pull requests merged in 2021-09, with the labels that each got.

#3106 API examples and client guide updates
  content/influxdb/cloud/api-guide/client-libraries/arduino.md
  content/influxdb/cloud/api-guide/client-libraries/browserjs.md
  content/influxdb/cloud/api-guide/client-libraries/csharp.md
  content/influxdb/cloud/api-guide/client-libraries/go.md
  content/influxdb/cloud/api-guide/client-libraries/java.md
  content/influxdb/cloud/api-guide/client-libraries/kotlin.md
  content/influxdb/cloud/api-guide/client-libraries/nodejs/_index.md
  content/influxdb/cloud/api-guide/client-libraries/nodejs/install.md
  content/influxdb/cloud/api-guide/client-libraries/nodejs/query.md
  content/influxdb/cloud/api-guide/client-libraries/nodejs/write.md
  content/influxdb/cloud/api-guide/client-libraries/php.md
  content/influxdb/cloud/api-guide/client-libraries/python.md
  content/influxdb/cloud/api-guide/client-libraries/r.md
  content/influxdb/cloud/api-guide/client-libraries/ruby.md
  content/influxdb/cloud/api-guide/client-libraries/scala.md
  content/influxdb/cloud/api-guide/client-libraries/swift.md
  content/influxdb/cloud/write-data/best-practices/optimize-writes.md
  content/influxdb/cloud/write-data/developer-tools/api.md
  content/influxdb/v2.0/api-guide/client-libraries/arduino.md
  content/influxdb/v2.0/api-guide/client-libraries/browserjs.md
  content/influxdb/v2.0/api-guide/client-libraries/csharp.md
  content/influxdb/v2.0/api-guide/client-libraries/go.md
  content/influxdb/v2.0/api-guide/client-libraries/java.md
  content/influxdb/v2.0/api-guide/client-libraries/kotlin.md
  content/influxdb/v2.0/api-guide/client-libraries/nodejs/_index.md
  content/influxdb/v2.0/api-guide/client-libraries/nodejs/install.md
  content/influxdb/v2.0/api-guide/client-libraries/nodejs/query.md
  content/influxdb/v2.0/api-guide/client-libraries/nodejs/write.md
  content/influxdb/v2.0/api-guide/client-libraries/php.md
  content/influxdb/v2.0/api-guide/client-libraries/python.md
  content/influxdb/v2.0/api-guide/client-libraries/r.md
  content/influxdb/v2.0/api-guide/client-libraries/ruby.md
  content/influxdb/v2.0/api-guide/client-libraries/scala.md
  content/influxdb/v2.0/api-guide/client-libraries/swift.md
  content/influxdb/v2.0/write-data/best-practices/optimize-writes.md
  content/influxdb/v2.0/write-data/developer-tools/api.md
  layouts/shortcodes/api/v2dot0/env.sh
  shared/text/api/v2.0/query/query.mjs
  shared/text/api/v2.0/write-compressed.sh
  shared/text/api/v2.0/write/write-compress.sh
  shared/text/api/v2.0/write/write.mjs
  shared/text/api/v2.0/write/write.sh
Labels: Client libraries, api

#3123 fix: broken install URL. Closes #3122.
  content/influxdb/v2.0/api-guide/client-libraries/nodejs/query.md
  content/influxdb/v2.0/api-guide/client-libraries/nodejs/write.md
Labels: Client libraries

#3128 Update experimental message
  content/enterprise_influxdb/v1.9/flux/guides/geo/_index.md
  content/enterprise_influxdb/v1.9/flux/guides/manipulate-timestamps.md
  content/flux/v0.x/stdlib/experimental/_index.md
  content/influxdb/v1.7/flux/guides/manipulate-timestamps.md
  content/influxdb/v1.8/flux/guides/geo/_index.md
  content/influxdb/v1.8/flux/guides/manipulate-timestamps.md
  content/influxdb/v2.0/query-data/flux/geo/_index.md
  content/influxdb/v2.0/query-data/flux/manipulate-timestamps.md
  layouts/partials/article/flux-experimental.html
Labels: Flux

#3156 Add Flux 'contrib/bonitoo-io/hex' package
  content/flux/v0.x/data-types/basic/bytes.md
  content/flux/v0.x/data-types/basic/int.md
  content/flux/v0.x/data-types/basic/string.md
  content/flux/v0.x/data-types/basic/uint.md
  content/flux/v0.x/release-notes.md
  content/flux/v0.x/stdlib/contrib/bonitoo-io/hex/_index.md
  content/flux/v0.x/stdlib/contrib/bonitoo-io/hex/bytes.md
  content/flux/v0.x/stdlib/contrib/bonitoo-io/hex/int.md
  content/flux/v0.x/stdlib/contrib/bonitoo-io/hex/string.md
  content/flux/v0.x/stdlib/contrib/bonitoo-io/hex/uint.md
  content/flux/v0.x/stdlib/contrib/bonitoo-io/tickscript/alert.md
  content/flux/v0.x/stdlib/universe/string.md
Labels: Flux

#3157 Add 'experimental/record' package
  content/flux/v0.x/release-notes.md
  content/flux/v0.x/stdlib/experimental/record/_index.md
Labels: Flux

#3160 Flux 0.131.0
  content/flux/v0.x/data-types/basic/bytes.md
  content/flux/v0.x/data-types/basic/int.md
  content/flux/v0.x/data-types/basic/string.md
  content/flux/v0.x/data-types/basic/uint.md
  content/flux/v0.x/release-notes.md
  content/flux/v0.x/stdlib/contrib/bonitoo-io/hex/_index.md
  content/flux/v0.x/stdlib/contrib/bonitoo-io/hex/bytes.md
  content/flux/v0.x/stdlib/contrib/bonitoo-io/hex/int.md
  content/flux/v0.x/stdlib/contrib/bonitoo-io/hex/string.md
  content/flux/v0.x/stdlib/contrib/bonitoo-io/hex/uint.md
  content/flux/v0.x/stdlib/contrib/bonitoo-io/tickscript/alert.md
  content/flux/v0.x/stdlib/experimental/record/_index.md
  content/flux/v0.x/stdlib/universe/string.md
Labels: Flux

#3173 Update InfluxDB sample package
  content/flux/v0.x/stdlib/influxdata/influxdb/sample/aligntonow.md
  content/flux/v0.x/stdlib/influxdata/influxdb/sample/data.md
Labels: Flux

#3182 Flux v0.132
  content/flux/v0.x/release-notes.md
  content/flux/v0.x/stdlib/influxdata/influxdb/sample/aligntonow.md
  content/flux/v0.x/stdlib/influxdata/influxdb/sample/data.md
Labels: Flux
