Repository influxdata/docs-v2, pull requests merged in 2021-07, with the labels that each got.

#2754 Fix incorrect Telegraf output settings info
  content/telegraf/v1.18/administration/configuration.md
Labels: Telegraf

#2841 Fix/2759 1.x query api
  assets/js/influxdb-url.js
  assets/text/api/v1-compat/auth/cloud/basic-auth.js
  assets/text/api/v1-compat/auth/cloud/basic-auth.sh
  assets/text/api/v1-compat/auth/oss/basic-auth.js
  assets/text/api/v1-compat/auth/oss/basic-auth.sh
  assets/text/api/v1-compat/auth/oss/querystring-auth.js
  assets/text/api/v1-compat/auth/oss/querystring-auth.sh
  assets/text/api/v1-compat/auth/oss/token-auth.js
  assets/text/api/v1-compat/auth/oss/token-auth.sh
  content/influxdb/cloud/query-data/influxql.md
  content/influxdb/cloud/reference/api/_index.md
  content/influxdb/cloud/reference/api/influxdb-1x/_index.md
  content/influxdb/cloud/reference/api/influxdb-1x/query.md
  content/influxdb/cloud/reference/api/influxdb-1x/write.md
  content/influxdb/cloud/upgrade/v1-to-cloud/_index.md
  content/influxdb/v1.8/administration/authentication_and_authorization.md
  content/influxdb/v2.0/install.md
  content/influxdb/v2.0/query-data/influxql.md
  content/influxdb/v2.0/reference/api/influxdb-1x/_index.md
  content/influxdb/v2.0/reference/api/influxdb-1x/query.md
  content/influxdb/v2.0/reference/api/influxdb-1x/write.md
  content/influxdb/v2.0/reference/cli/influx/v1/auth/_index.md
  content/influxdb/v2.0/tools/api/_index.md
  content/influxdb/v2.0/users/create-user.md
  layouts/shortcodes/api/url-encode-note
  layouts/shortcodes/api/v1-compat/basic-auth-clients.html
  layouts/shortcodes/api/v1-compat/basic-auth-syntax.html
  layouts/shortcodes/api/v1-compat/cloud/authentication.html
  layouts/shortcodes/api/v1-compat/oss/password-or-token.html
  layouts/shortcodes/cloud-token-auth.html
Labels: api

#2860 fixes API guide changes, create-bucket, aliases
  content/influxdb/cloud/api-guide/api_intro.md
  content/influxdb/cloud/organizations/buckets/create-bucket.md
  content/influxdb/v2.0/api-guide/api_intro.md
  content/influxdb/v2.0/organizations/buckets/create-bucket.md
  content/influxdb/v2.0/tools/api/_index.md
  shared/text/api/v2.0/buckets/oss/create.js
  shared/text/api/v2.0/buckets/oss/create.sh
Labels: Client libraries, api, broke-link

#2865 Flux 0.122.0
  content/influxdb/v2.0/reference/release-notes/flux.md
Labels: Flux

#2878 Flux 0.123.0 updates
  content/influxdb/cloud/reference/flux/stdlib/built-in/misc/sleep.md
  content/influxdb/cloud/reference/flux/stdlib/built-in/transformations/aggregates/aggregatewindow.md
  content/influxdb/v2.0/reference/flux/stdlib/built-in/misc/sleep.md
  content/influxdb/v2.0/reference/flux/stdlib/built-in/transformations/aggregates/aggregatewindow.md
Labels: Flux

#2877 Flux 0.123.0 release notes
  content/influxdb/v2.0/reference/release-notes/flux.md
Labels: Flux

#2876 Flux sample package
  assets/styles/layouts/article/_buttons.scss
  assets/styles/layouts/article/_captions.scss
  content/influxdb/cloud/reference/flux/stdlib/influxdb-sample/_index.md
  content/influxdb/cloud/reference/flux/stdlib/influxdb-sample/data.md
  content/influxdb/cloud/reference/flux/stdlib/influxdb-sample/list.md
  content/influxdb/cloud/reference/flux/stdlib/influxdb-schema/_index.md
  content/influxdb/cloud/reference/flux/stdlib/influxdb-schema/fieldkeys.md
  content/influxdb/cloud/reference/flux/stdlib/influxdb-schema/fieldsascols.md
  content/influxdb/cloud/reference/flux/stdlib/influxdb-schema/measurementfieldkeys.md
  content/influxdb/cloud/reference/flux/stdlib/influxdb-schema/measurements.md
  content/influxdb/cloud/reference/flux/stdlib/influxdb-schema/measurementtagkeys.md
  content/influxdb/cloud/reference/flux/stdlib/influxdb-schema/measurementtagvalues.md
  content/influxdb/cloud/reference/flux/stdlib/influxdb-schema/tagkeys.md
  content/influxdb/cloud/reference/flux/stdlib/influxdb-schema/tagvalues.md
  content/influxdb/cloud/reference/flux/stdlib/influxdb-tasks/_index.md
  content/influxdb/cloud/reference/flux/stdlib/influxdb-tasks/lastsuccess.md
  content/influxdb/cloud/reference/flux/stdlib/monitor/_index.md
  content/influxdb/cloud/reference/flux/stdlib/monitor/check.md
  content/influxdb/cloud/reference/flux/stdlib/monitor/deadman.md
  content/influxdb/cloud/reference/flux/stdlib/monitor/from.md
  content/influxdb/cloud/reference/flux/stdlib/monitor/logs.md
  content/influxdb/cloud/reference/flux/stdlib/monitor/notify.md
  content/influxdb/cloud/reference/flux/stdlib/monitor/statechanges.md
  content/influxdb/cloud/reference/flux/stdlib/monitor/statechangesonly.md
  content/influxdb/cloud/reference/flux/stdlib/secrets/_index.md
  content/influxdb/cloud/reference/flux/stdlib/secrets/get.md
  content/influxdb/cloud/reference/sample-data.md
  content/influxdb/cloud/write-data/_index.md
  content/influxdb/v2.0/query-data/common-queries/_index.md
  content/influxdb/v2.0/query-data/flux/geo/_index.md
  content/influxdb/v2.0/query-data/flux/sql.md
  content/influxdb/v2.0/reference/flux/stdlib/influxdb-sample/_index.md
  content/influxdb/v2.0/reference/flux/stdlib/influxdb-sample/data.md
  content/influxdb/v2.0/reference/flux/stdlib/influxdb-sample/list.md
  content/influxdb/v2.0/reference/flux/stdlib/influxdb-schema/_index.md
  content/influxdb/v2.0/reference/flux/stdlib/influxdb-schema/fieldkeys.md
  content/influxdb/v2.0/reference/flux/stdlib/influxdb-schema/fieldsascols.md
  content/influxdb/v2.0/reference/flux/stdlib/influxdb-schema/measurementfieldkeys.md
  content/influxdb/v2.0/reference/flux/stdlib/influxdb-schema/measurements.md
  content/influxdb/v2.0/reference/flux/stdlib/influxdb-schema/measurementtagkeys.md
  content/influxdb/v2.0/reference/flux/stdlib/influxdb-schema/measurementtagvalues.md
  content/influxdb/v2.0/reference/flux/stdlib/influxdb-schema/tagkeys.md
  content/influxdb/v2.0/reference/flux/stdlib/influxdb-schema/tagvalues.md
  content/influxdb/v2.0/reference/flux/stdlib/influxdb-tasks/_index.md
  content/influxdb/v2.0/reference/flux/stdlib/influxdb-tasks/lastsuccess.md
  content/influxdb/v2.0/reference/flux/stdlib/monitor/_index.md
  content/influxdb/v2.0/reference/flux/stdlib/monitor/check.md
  content/influxdb/v2.0/reference/flux/stdlib/monitor/deadman.md
  content/influxdb/v2.0/reference/flux/stdlib/monitor/from.md
  content/influxdb/v2.0/reference/flux/stdlib/monitor/logs.md
  content/influxdb/v2.0/reference/flux/stdlib/monitor/notify.md
  content/influxdb/v2.0/reference/flux/stdlib/monitor/statechanges.md
  content/influxdb/v2.0/reference/flux/stdlib/monitor/statechangesonly.md
  content/influxdb/v2.0/reference/flux/stdlib/secrets/_index.md
  content/influxdb/v2.0/reference/flux/stdlib/secrets/get.md
  content/influxdb/v2.0/reference/sample-data.md
  shared/text/flux/noaa-ndbc-sample-task.md
Labels: Flux

#2889 add ENV VARs for new config options
  content/enterprise_influxdb/v1.9/administration/config-data-nodes.md
  content/enterprise_influxdb/v1.9/administration/config-meta-nodes.md
Labels: Enterprise 1.x

#2900 Kapacitor 1.6.1 release notes
  content/kapacitor/v1.6/about_the_project/releasenotes-changelog.md
  content/kapacitor/v1.6/introduction/installation.md
Labels: Kapacitor

#2911 Add deleteAll property to Kapacitor JoinNode
  content/kapacitor/v1.6/nodes/join_node.md
Labels: Kapacitor

#2887 Flux query basics
  content/flux/v0.x/function-types.md
  content/flux/v0.x/get-started/query-basics.md
  content/flux/v0.x/spec/operators.md
  content/flux/v0.x/stdlib/experimental/geo/filterrows.md
  content/flux/v0.x/stdlib/experimental/geo/gridfilter.md
  content/flux/v0.x/stdlib/experimental/geo/strictfilter.md
  content/flux/v0.x/stdlib/experimental/query/filterfields.md
  content/flux/v0.x/stdlib/experimental/query/filtermeasurement.md
  content/flux/v0.x/stdlib/universe/filter.md
  content/flux/v0.x/stdlib/universe/range.md
Labels: Flux

#2893 Query Prometheus with Flux
  content/flux/v0.x/query-data/prometheus.md
Labels: Flux

#2918 update link from platform to Flux
  content/influxdb/cloud/reference/flux/language/options.md
  content/influxdb/v2.0/reference/flux/language/options.md
Labels: Flux

#2895 Query CSV data with Flux
  content/flux/v0.x/query-data/csv.md
Labels: Flux

#2905 Added more detail to contrib doc
  content/influxdb/cloud/reference/flux/stdlib/contrib/_index.md
  content/influxdb/v2.0/reference/flux/stdlib/contrib/_index.md
Labels: Flux

#2922 Query SQL databases
  assets/styles/layouts/article/_captions.scss
  assets/styles/layouts/article/_children.scss
  content/flux/v0.x/query-data/sql/_index.md
  content/flux/v0.x/query-data/sql/amazon-rds.md
  content/flux/v0.x/query-data/sql/athena.md
  content/flux/v0.x/query-data/sql/bigquery.md
  content/flux/v0.x/query-data/sql/cockroachdb.md
  content/flux/v0.x/query-data/sql/mariadb.md
  content/flux/v0.x/query-data/sql/mysql.md
  content/flux/v0.x/query-data/sql/percona.md
  content/flux/v0.x/query-data/sql/postgresql.md
  content/flux/v0.x/query-data/sql/sap-hana.md
  content/flux/v0.x/query-data/sql/snowflake.md
  content/flux/v0.x/query-data/sql/sql-server.md
  content/flux/v0.x/query-data/sql/sqlite.md
  content/flux/v0.x/stdlib/sql/from.md
  content/flux/v0.x/stdlib/sql/to.md
Labels: Flux

#2928 Query Google Cloud Bigtable with Flux
  content/flux/v0.x/query-data/bigtable.md
Labels: Flux

#2891 Flux – query data
  CONTRIBUTING.md
  assets/styles/layouts/article/_captions.scss
  assets/styles/layouts/article/_children.scss
  assets/styles/layouts/article/_flex.scss
  assets/styles/layouts/article/_tables.scss
  content/flux/v0.x/get-started/query-basics.md
  content/flux/v0.x/query-data/_index.md
  content/flux/v0.x/query-data/bigtable.md
  content/flux/v0.x/query-data/csv.md
  content/flux/v0.x/query-data/influxdb.md
  content/flux/v0.x/query-data/prometheus.md
  content/flux/v0.x/query-data/sql/_index.md
  content/flux/v0.x/query-data/sql/amazon-rds.md
  content/flux/v0.x/query-data/sql/athena.md
  content/flux/v0.x/query-data/sql/bigquery.md
  content/flux/v0.x/query-data/sql/cockroachdb.md
  content/flux/v0.x/query-data/sql/mariadb.md
  content/flux/v0.x/query-data/sql/mysql.md
  content/flux/v0.x/query-data/sql/percona.md
  content/flux/v0.x/query-data/sql/postgresql.md
  content/flux/v0.x/query-data/sql/sap-hana.md
  content/flux/v0.x/query-data/sql/snowflake.md
  content/flux/v0.x/query-data/sql/sql-server.md
  content/flux/v0.x/query-data/sql/sqlite.md
  content/flux/v0.x/stdlib/sql/from.md
  content/flux/v0.x/stdlib/sql/to.md
Labels: Flux
