Repository influxdata/docs-v2, pull requests merged in 2021-03, with the labels that each got.

#2122 Add video to automatically configure Telegraf
  content/influxdb/v2.0/write-data/no-code/use-telegraf/auto-config.md
Labels: Telegraf

#1305 Verify whether more than 500 shards per db is accurate metric
  content/enterprise_influxdb/v1.8/guides/migration.md
Labels: Enterprise 1.x

#2295 Flux VictorOps package
  content/influxdb/cloud/reference/flux/stdlib/contrib/victorops/_index.md
  content/influxdb/cloud/reference/flux/stdlib/contrib/victorops/endpoint.md
  content/influxdb/cloud/reference/flux/stdlib/contrib/victorops/event.md
  content/influxdb/v2.0/reference/flux/stdlib/contrib/victorops/_index.md
  content/influxdb/v2.0/reference/flux/stdlib/contrib/victorops/endpoint.md
  content/influxdb/v2.0/reference/flux/stdlib/contrib/victorops/event.md
Labels: Flux

#2292 Flux Zenoss pkg
  content/influxdb/cloud/reference/flux/stdlib/contrib/zenoss/_index.md
  content/influxdb/cloud/reference/flux/stdlib/contrib/zenoss/endpoint.md
  content/influxdb/cloud/reference/flux/stdlib/contrib/zenoss/event.md
  content/influxdb/v2.0/reference/flux/stdlib/contrib/zenoss/_index.md
  content/influxdb/v2.0/reference/flux/stdlib/contrib/zenoss/endpoint.md
  content/influxdb/v2.0/reference/flux/stdlib/contrib/zenoss/event.md
Labels: Flux

#1306 Update dashboards
  content/chronograf/v1.8/administration/config-options.md
  content/chronograf/v1.8/administration/configuration.md
  content/chronograf/v1.8/administration/import-export-dashboards.md
  content/chronograf/v1.8/guides/cloning-in-ui.md
  content/chronograf/v1.8/guides/create-a-dashboard.md
Labels: Chronograf 1.x

#2305 Flux 0.108
  content/influxdb/cloud/reference/flux/stdlib/contrib/bigpanda/_index.md
  content/influxdb/cloud/reference/flux/stdlib/contrib/bigpanda/endpoint.md
  content/influxdb/cloud/reference/flux/stdlib/contrib/bigpanda/sendAlert.md
  content/influxdb/cloud/reference/flux/stdlib/contrib/bigpanda/statusfromlevel.md
  content/influxdb/cloud/reference/flux/stdlib/contrib/victorops/_index.md
  content/influxdb/cloud/reference/flux/stdlib/contrib/victorops/endpoint.md
  content/influxdb/cloud/reference/flux/stdlib/contrib/victorops/event.md
  content/influxdb/cloud/reference/flux/stdlib/contrib/zenoss/_index.md
  content/influxdb/cloud/reference/flux/stdlib/contrib/zenoss/endpoint.md
  content/influxdb/cloud/reference/flux/stdlib/contrib/zenoss/event.md
  content/influxdb/v2.0/reference/flux/stdlib/contrib/bigpanda/_index.md
  content/influxdb/v2.0/reference/flux/stdlib/contrib/bigpanda/endpoint.md
  content/influxdb/v2.0/reference/flux/stdlib/contrib/bigpanda/sendAlert.md
  content/influxdb/v2.0/reference/flux/stdlib/contrib/bigpanda/statusfromlevel.md
  content/influxdb/v2.0/reference/flux/stdlib/contrib/victorops/_index.md
  content/influxdb/v2.0/reference/flux/stdlib/contrib/victorops/endpoint.md
  content/influxdb/v2.0/reference/flux/stdlib/contrib/victorops/event.md
  content/influxdb/v2.0/reference/flux/stdlib/contrib/zenoss/_index.md
  content/influxdb/v2.0/reference/flux/stdlib/contrib/zenoss/endpoint.md
  content/influxdb/v2.0/reference/flux/stdlib/contrib/zenoss/event.md
  content/influxdb/v2.0/reference/release-notes/flux.md
Labels: Flux

#2354 Flux 0.109
  content/influxdb/cloud/reference/flux/stdlib/csv/from.md
  content/influxdb/v2.0/reference/flux/language/string-interpolation.md
  content/influxdb/v2.0/reference/flux/language/types.md
  content/influxdb/v2.0/reference/flux/stdlib/csv/from.md
  content/influxdb/v2.0/reference/release-notes/flux.md
Labels: Flux
