Repository influxdata/docs-v2, pull requests merged in 2021-12, with the labels that each got.

#3485 Flux v0.144.0 - v0.146.0
  content/flux/v0.x/release-notes.md
  content/flux/v0.x/stdlib/testing/diff.md
Labels: Flux

#3511 fix: cloud 1.x compat docs link to oss 2.0 pages. Dedupe content. Use…
  content/influxdb/cloud/reference/api/influxdb-1x/_index.md
  content/influxdb/cloud/reference/api/influxdb-1x/dbrp.md
  content/influxdb/cloud/reference/api/influxdb-1x/query.md
  content/influxdb/cloud/reference/api/influxdb-1x/write.md
  content/influxdb/v2.0/reference/api/influxdb-1x/_index.md
  content/influxdb/v2.0/reference/api/influxdb-1x/query.md
  content/influxdb/v2.1/reference/api/influxdb-1x/_index.md
  content/influxdb/v2.1/reference/api/influxdb-1x/dbrp.md
  content/influxdb/v2.1/reference/api/influxdb-1x/query.md
  content/influxdb/v2.1/reference/api/influxdb-1x/write.md
  layouts/shortcodes/api/v1-compat/oss/password-or-token.html
  shared/text/api/v1-compat/auth/oss/basic-auth.js
  shared/text/api/v1-compat/auth/oss/basic-auth.sh
  shared/text/api/v1-compat/auth/oss/querystring-auth.js
  shared/text/api/v1-compat/auth/oss/querystring-auth.sh
  shared/text/api/v1-compat/auth/oss/token-auth.js
  shared/text/api/v1-compat/auth/oss/token-auth.sh
Labels: api

#3515 fix: update UI create task instructions. (#3374)
  content/influxdb/cloud/process-data/manage-tasks/update-task.md
  content/influxdb/v2.0/process-data/manage-tasks/create-task.md
  content/influxdb/v2.1/process-data/manage-tasks/create-task.md
  content/influxdb/v2.1/process-data/manage-tasks/update-task.md
Labels: ui

#3520 Flux 0.147.0
  content/flux/v0.x/release-notes.md
Labels: Flux

#3519 Add more examples to usage.limits
  content/flux/v0.x/stdlib/experimental/usage/_index.md
  content/flux/v0.x/stdlib/experimental/usage/limits.md
  deploy/edge.js
Labels: Flux
