Repository influxdata/docs-v2, pull requests merged in 2021-11, with the labels that each got.

#3318 Flux 0.137
  content/flux/v0.x/query-data/sql/_index.md
  content/flux/v0.x/query-data/sql/postgresql.md
  content/flux/v0.x/query-data/sql/vertica.md
  content/flux/v0.x/release-notes.md
  content/flux/v0.x/stdlib/sql/_index.md
  content/flux/v0.x/stdlib/sql/from.md
  content/flux/v0.x/stdlib/sql/to.md
  content/flux/v0.x/write-data/sql/vertica.md
Labels: Flux

#3335 Flux 0.138.0 and 0.139.0
  content/flux/v0.x/data-types/basic/int.md
  content/flux/v0.x/data-types/basic/uint.md
  content/flux/v0.x/release-notes.md
  content/flux/v0.x/spec/types.md
  content/flux/v0.x/stdlib/experimental/bitwise/_index.md
  content/flux/v0.x/stdlib/experimental/bitwise/sand.md
  content/flux/v0.x/stdlib/experimental/bitwise/sclear.md
  content/flux/v0.x/stdlib/experimental/bitwise/slshift.md
  content/flux/v0.x/stdlib/experimental/bitwise/snot.md
  content/flux/v0.x/stdlib/experimental/bitwise/sor.md
  content/flux/v0.x/stdlib/experimental/bitwise/srshift.md
  content/flux/v0.x/stdlib/experimental/bitwise/sxor.md
  content/flux/v0.x/stdlib/experimental/bitwise/uand.md
  content/flux/v0.x/stdlib/experimental/bitwise/uclear.md
  content/flux/v0.x/stdlib/experimental/bitwise/ulshift.md
  content/flux/v0.x/stdlib/experimental/bitwise/unot.md
  content/flux/v0.x/stdlib/experimental/bitwise/uor.md
  content/flux/v0.x/stdlib/experimental/bitwise/urshift.md
  content/flux/v0.x/stdlib/experimental/bitwise/uxor.md
  content/flux/v0.x/stdlib/universe/_index.md
Labels: Flux

#3332 2.1 upgrade and downgrade instructions
  content/flux/v0.x/stdlib/universe/tripleema.md
  content/influxdb/cloud/upgrade/v2-to-cloud.md
  content/influxdb/v2.1/reference/cli/influxd/_index.md
  content/influxdb/v2.1/reference/cli/influxd/downgrade.md
  content/influxdb/v2.1/upgrade/downgrade.md
  content/influxdb/v2.1/upgrade/v1-to-v2/_index.md
  content/influxdb/v2.1/upgrade/v2-beta-to-v2.md
  content/influxdb/v2.1/upgrade/v2-to-v2.md
  layouts/shortcodes/influxdb/install-old-versions.html
Labels: InfluxDB v2

#3344 Update Flux version in 2.1 release notes and add other new items
  content/influxdb/v2.1/reference/release-notes/influxdb.md
Labels: InfluxDB v2

#3323 feat: add schema validity requirements to bucket schemas doc (#3197)
  content/influxdb/cloud/organizations/buckets/bucket-schema/_index.md
Labels: InfluxDB Cloud

#3109 Feature rejected points log
  CONTRIBUTING.md
  content/influxdb/cloud/organizations/buckets/bucket-schema/_index.md
  content/influxdb/cloud/reference/internals/system-buckets.md
  content/influxdb/cloud/write-data/troubleshoot.md
  content/influxdb/v2.0/reference/glossary.md
  content/influxdb/v2.0/write-data/troubleshoot.md
  content/influxdb/v2.1/reference/glossary.md
  content/influxdb/v2.1/reference/internals/system-buckets.md
  content/influxdb/v2.1/write-data/troubleshoot.md
  layouts/partials/article/content.html
Labels: Feature-WIP

#3432 Update difference and increase functions
  content/flux/v0.x/prometheus/metric-types/counter.md
  content/flux/v0.x/prometheus/metric-types/gauge.md
  content/flux/v0.x/release-notes.md
  content/flux/v0.x/stdlib/universe/difference.md
  content/flux/v0.x/stdlib/universe/increase.md
Labels: Flux

#3438 Flux 0.143
  content/flux/v0.x/prometheus/metric-types/counter.md
  content/flux/v0.x/prometheus/metric-types/gauge.md
  content/flux/v0.x/release-notes.md
  content/flux/v0.x/stdlib/universe/difference.md
  content/flux/v0.x/stdlib/universe/increase.md
Labels: Flux

#3446 Update reduce() examples
  content/flux/v0.x/stdlib/universe/reduce.md
  content/influxdb/v2.1/query-data/flux/custom-functions/custom-aggregate.md
Labels: Flux
