Repository influxdata/docs-v2, pull requests merged in 2021-06, with the labels that each got.

#2641 fix: add datatype to appKey
  content/influxdb/v2.0/reference/flux/stdlib/contrib/bigpanda/endpoint.md
Labels: Flux

#2619 Flux get started intro and data model
  assets/js/flux-group-keys.js
  assets/styles/layouts/article/_flux.scss
  assets/styles/layouts/article/_html-diagrams.scss
  assets/styles/themes/_theme-dark.scss
  assets/styles/themes/_theme-light.scss
  content/flux/v0.x/_index.md
  content/flux/v0.x/get-started.md
  content/flux/v0.x/get-started/_index.md
  content/flux/v0.x/get-started/data-model.md
  content/flux/v0.x/get-started/query-basics.md
  content/flux/v0.x/stdlib/date/truncate.md
  content/flux/v0.x/stdlib/universe/today.md
  content/influxdb/cloud/query-data/flux/moving-average.md
  content/influxdb/v1.7/query_language/functions.md
  content/influxdb/v1.8/flux/guides/moving-average.md
  content/influxdb/v1.8/flux/guides/rate.md
  content/influxdb/v1.8/query_language/functions.md
  content/influxdb/v2.0/query-data/flux/moving-average.md
  content/influxdb/v2.0/query-data/get-started/_index.md
  layouts/shortcodes/flux/data-model.html
  layouts/shortcodes/flux/group-key-demo.html
  layouts/shortcodes/flux/table-ops.html
  static/img/flux/0-x-water-process-dark.svg
  static/img/flux/0-x-water-process-light.svg
Labels: Flux

#2680 fix: update function def for torows
  content/influxdb/cloud/reference/flux/stdlib/experimental/geo/torows.md
Labels: Flux

#2688 Today and related links
  content/influxdb/v2.0/reference/flux/stdlib/built-in/misc/now.md
  content/influxdb/v2.0/reference/flux/stdlib/built-in/misc/today.md
  content/influxdb/v2.0/reference/flux/stdlib/date/truncate.md
  content/influxdb/v2.0/reference/flux/stdlib/system/time.md
Labels: Flux

#2740 removed latest patch...since 1.8.5 was no longer the latest
  content/enterprise_influxdb/v1.8/about-the-project/release-notes-changelog.md
Labels: priority

#2717 Kapacitor authorization and authentication
  CONTRIBUTING.md
  assets/styles/layouts/_article.scss
  content/kapacitor/v1.6/administration/auth/_index.md
  content/kapacitor/v1.6/administration/auth/influxdb-enterprise-auth.md
  content/kapacitor/v1.6/administration/auth/kapacitor-auth.md
  content/kapacitor/v1.6/administration/configuration.md
  content/kapacitor/v1.6/administration/security.md
  content/kapacitor/v1.6/administration/subscription-management.md
  content/kapacitor/v1.6/administration/upgrading.md
  content/kapacitor/v1.6/user-types-permissions.md
  content/kapacitor/v1.6/working/api.md
  layouts/shortcodes/req.html
Labels: Kapacitor

#2753 Chronograf alert endpoint updates
  content/chronograf/v1.9/about_the_project/release-notes-changelog.md
  content/chronograf/v1.9/guides/configuring-alert-endpoints.md
Labels: Chronograf 1.x

#2757 Chronograf etcd migrations over TLS
  content/chronograf/v1.9/administration/config-options.md
  content/chronograf/v1.9/administration/migrate-to-high-availability.md
  content/chronograf/v1.9/tools/chronoctl/migrate.md
  content/chronograf/v1.9/tools/chronograf-cli/_index.md
  static/img/chronograf/1-8-ha-architecture.svg
Labels: Chronograf 1.x

#2766 Chronograf template variables with Flux
  content/chronograf/v1.9/guides/dashboard-template-variables.md
  static/img/chronograf/1-9-template-var-title.png
Labels: Chronograf 1.x

#2767 Write data to InfluxDB with Chronograf
  content/chronograf/v1.9/guides/write-to-influxdb.md
  static/img/chronograf/1-9-write-data.png
  static/img/chronograf/1-9-write-db-rp.png
  static/img/chronograf/1-9-write-precision.png
Labels: Chronograf 1.x

#2768 Manage Kapacitor Flux tasks in Chronograf
  content/chronograf/v1.9/guides/advanced-kapacitor.md
Labels: Chronograf 1.x

#2769 Show or hide Chronograf log histogram
  assets/styles/layouts/_api-overrides.scss
  assets/styles/layouts/_sidebar.scss
  assets/styles/layouts/_top-nav.scss
  assets/styles/layouts/_url-selector.scss
  assets/styles/layouts/article/_buttons.scss
  assets/styles/layouts/article/_children.scss
  assets/styles/layouts/article/_feedback.scss
  assets/styles/tools/_icomoon.scss
  content/chronograf/v1.9/guides/analyzing-logs.md
  layouts/shortcodes/icon.html
  static/fonts/icomoon.eot
  static/fonts/icomoon.svg
  static/fonts/icomoon.ttf
  static/fonts/icomoon.woff
Labels: Chronograf 1.x

#2770 Send multiple queries to Chronograf dashboards
  content/chronograf/v1.9/guides/querying-data.md
Labels: Chronograf 1.x

#2771 Chronograf custom auto-refresh intervals
  content/chronograf/v1.9/administration/config-options.md
  content/chronograf/v1.9/guides/create-a-dashboard.md
  content/chronograf/v1.9/tools/chronograf-cli/_index.md
Labels: Chronograf 1.x

#2772 Configure v2 connections from Chronograf CLI
  content/chronograf/v1.9/administration/config-options.md
  content/chronograf/v1.9/administration/creating-connections.md
  content/chronograf/v1.9/tools/chronograf-cli/_index.md
Labels: Chronograf 1.x

#2773 Update Chronograf OAuth options
  content/chronograf/v1.9/administration/config-options.md
  content/chronograf/v1.9/administration/managing-security.md
  content/chronograf/v1.9/tools/chronograf-cli/_index.md
Labels: Chronograf 1.x

#2782 Add default kapacitor.conf locations
  content/kapacitor/v1.5/administration/configuration.md
  content/kapacitor/v1.6/administration/configuration.md
Labels: Kapacitor

#2783 List default location of influxdb.conf on Windows
  content/influxdb/v1.8/administration/config.md
Labels: InfluxDB v1

#2784 Flux 0.118
  content/influxdb/v2.0/reference/flux/language/expressions.md
  content/influxdb/v2.0/reference/flux/language/operators.md
  content/influxdb/v2.0/reference/flux/stdlib/pagerduty/dedupkey.md
  content/influxdb/v2.0/reference/release-notes/flux.md
Labels: Flux

#2781 Add information about metaquery templates
  content/chronograf/v1.9/guides/querying-data.md
Labels: Chronograf 1.x
