Repository influxdata/docs-v2, pull requests merged in 2022-01, with the labels that each got.

#3645 Flux improvements updates
  content/flux/v0.x/query-data/sql/_index.md
  content/flux/v0.x/query-data/sql/bigquery.md
  content/flux/v0.x/query-data/sql/sql-server.md
  content/flux/v0.x/stdlib/experimental/usage/limits.md
  content/flux/v0.x/stdlib/influxdata/influxdb/cardinality.md
  content/flux/v0.x/stdlib/sql/from.md
  content/flux/v0.x/stdlib/sql/to.md
  content/flux/v0.x/stdlib/types/_index.md
  content/flux/v0.x/stdlib/types/istype.md
  content/flux/v0.x/write-data/sql/_index.md
  content/flux/v0.x/write-data/sql/bigquery.md
  content/flux/v0.x/write-data/sql/sql-server.md
Labels: Flux

#3647 Flux 0.148
  content/flux/v0.x/release-notes.md
  content/flux/v0.x/stdlib/experimental/addduration.md
  content/flux/v0.x/stdlib/experimental/subduration.md
Labels: Flux

#3656 feat: update Create a token for new Cloud behavior
  content/influxdb/v2.1/security/tokens/create-token.md
Labels: feat

#3531 Feat/api metrics
  api-docs/cloud/ref.yml
  api-docs/cloud/swaggerV1Compat.yml
  api-docs/v2.1/ref.yml
  api-docs/v2.1/swaggerV1Compat.yml
Labels: api

#3668 feat: add authorization info to influxdb.api().
  content/flux/v0.x/stdlib/experimental/influxdb/api.md
Labels: feat

#3673 hotfix: Monitor OSS in Cloud
  content/influxdb/cloud/monitor-alert/templates/monitor.md
Labels: feat

#3678 fix: link to reference for field data type. (#3056)
  content/influxdb/cloud/organizations/buckets/bucket-schema/_index.md
Labels: fix

#3702 Kapacitor release notes update - v1.6.3
  content/kapacitor/v1.6/about_the_project/releasenotes-changelog.md
Labels: Kapacitor

#3711 add new topic-buffer-length setting and event handler updates
  content/kapacitor/v1.6/administration/configuration.md
  content/kapacitor/v1.6/event_handlers/alerta.md
  content/kapacitor/v1.6/event_handlers/bigpanda.md
Labels: Kapacitor

#3712 Add details and examples to usage.from function
  content/flux/v0.x/stdlib/experimental/usage/from.md
  content/flux/v0.x/stdlib/experimental/usage/limits.md
Labels: Flux
