Repository influxdata/docs-v2, pull requests merged in 2022-02, with the labels that each got.

#3737 Add 'experimental/iox' package documentation
  content/flux/v0.x/release-notes.md
  content/flux/v0.x/stdlib/experimental/iox/_index.md
  content/flux/v0.x/stdlib/experimental/iox/from.md
Labels: Flux

#3736 Add experimental/http/reqeusts package
  content/flux/v0.x/release-notes.md
  content/flux/v0.x/stdlib/experimental/http/requests/_index.md
  content/flux/v0.x/stdlib/experimental/http/requests/do.md
  content/flux/v0.x/stdlib/experimental/http/requests/get.md
  content/flux/v0.x/stdlib/experimental/http/requests/post.md
Labels: Flux

#3741 Flux 0.152
  content/flux/v0.x/release-notes.md
  content/flux/v0.x/stdlib/experimental/http/requests/_index.md
  content/flux/v0.x/stdlib/experimental/http/requests/do.md
  content/flux/v0.x/stdlib/experimental/http/requests/get.md
  content/flux/v0.x/stdlib/experimental/http/requests/post.md
  content/flux/v0.x/stdlib/experimental/iox/_index.md
  content/flux/v0.x/stdlib/experimental/iox/from.md
Labels: Flux

#3750 chore: upgrade Hugo-extended and PostCSS-CLI to latest versions. Fixe…
  package.json
  yarn.lock
Labels: chore

#3690 fix: add sample output for CLI interactive setup.
  content/influxdb/v2.1/install.md
Labels: fix

#3725 feat: add information and examples for push downs and performance implications
  content/flux/v0.x/stdlib/influxdata/influxdb/from.md
Labels: feat

#3770 Added information about leading zeros in duration literals
  content/flux/v0.x/data-types/basic/duration.md
  content/flux/v0.x/spec/lexical-elements.md
Labels: Flux

#3768 Document the 'display()' function
  content/flux/v0.x/data-types/basic/bytes.md
  content/flux/v0.x/data-types/composite/array.md
  content/flux/v0.x/data-types/composite/dict.md
  content/flux/v0.x/data-types/composite/function.md
  content/flux/v0.x/data-types/composite/record.md
  content/flux/v0.x/get-started/syntax-basics.md
  content/flux/v0.x/release-notes.md
  content/flux/v0.x/stdlib/universe/display.md
Labels: Flux

#3772 Flux 0.154
  content/flux/v0.x/data-types/basic/bytes.md
  content/flux/v0.x/data-types/composite/array.md
  content/flux/v0.x/data-types/composite/dict.md
  content/flux/v0.x/data-types/composite/function.md
  content/flux/v0.x/data-types/composite/record.md
  content/flux/v0.x/get-started/syntax-basics.md
  content/flux/v0.x/release-notes.md
  content/flux/v0.x/stdlib/experimental/http/requests/_index.md
  content/flux/v0.x/stdlib/experimental/http/requests/do.md
  content/flux/v0.x/stdlib/experimental/http/requests/get.md
  content/flux/v0.x/stdlib/experimental/http/requests/peek.md
  content/flux/v0.x/stdlib/experimental/http/requests/post.md
  content/flux/v0.x/stdlib/universe/display.md
Labels: Flux

#3771 Deprecate nats configuration options
  content/influxdb/v2.2/reference/config-options.md
  data/influxd_flags.yml
  layouts/shortcodes/cli/influxd-flags.html
Labels: InfluxDB v2

#3790 Add updated parameters to schema functions
  content/flux/v0.x/release-notes.md
  content/flux/v0.x/stdlib/influxdata/influxdb/schema/_index.md
  content/flux/v0.x/stdlib/influxdata/influxdb/schema/fieldkeys.md
  content/flux/v0.x/stdlib/influxdata/influxdb/schema/measurementfieldkeys.md
  content/flux/v0.x/stdlib/influxdata/influxdb/schema/measurements.md
  content/flux/v0.x/stdlib/influxdata/influxdb/schema/measurementtagkeys.md
  content/flux/v0.x/stdlib/influxdata/influxdb/schema/measurementtagvalues.md
  content/flux/v0.x/stdlib/influxdata/influxdb/schema/tagkeys.md
  content/flux/v0.x/stdlib/influxdata/influxdb/schema/tagvalues.md
Labels: Flux

#3791 Add new array functions
  content/flux/v0.x/data-types/composite/array.md
  content/flux/v0.x/release-notes.md
  content/flux/v0.x/stdlib/array/_index.md
  content/flux/v0.x/stdlib/experimental/array/_index.md
  content/flux/v0.x/stdlib/experimental/array/concat.md
  content/flux/v0.x/stdlib/experimental/array/filter.md
  content/flux/v0.x/stdlib/experimental/array/map.md
Labels: Flux

#3804 Flux 0.155
  content/flux/v0.x/data-types/composite/array.md
  content/flux/v0.x/release-notes.md
  content/flux/v0.x/stdlib/array/_index.md
  content/flux/v0.x/stdlib/experimental/array/_index.md
  content/flux/v0.x/stdlib/experimental/array/concat.md
  content/flux/v0.x/stdlib/experimental/array/filter.md
  content/flux/v0.x/stdlib/experimental/array/map.md
  content/flux/v0.x/stdlib/influxdata/influxdb/schema/_index.md
  content/flux/v0.x/stdlib/influxdata/influxdb/schema/fieldkeys.md
  content/flux/v0.x/stdlib/influxdata/influxdb/schema/measurementfieldkeys.md
  content/flux/v0.x/stdlib/influxdata/influxdb/schema/measurements.md
  content/flux/v0.x/stdlib/influxdata/influxdb/schema/measurementtagkeys.md
  content/flux/v0.x/stdlib/influxdata/influxdb/schema/measurementtagvalues.md
  content/flux/v0.x/stdlib/influxdata/influxdb/schema/tagkeys.md
  content/flux/v0.x/stdlib/influxdata/influxdb/schema/tagvalues.md
Labels: Flux
