Repository influxdata/docs-v2, pull requests merged in 2025-08, with the labels that each got.

#6305 Add Telemetry docs
  content/influxdb3/core/reference/telemetry.md
  content/influxdb3/enterprise/reference/telemetry.md
  content/shared/influxdb3-reference/telemetry.md
Labels: InfluxDB 3 Core and Enterprise

#6277 docs(api): adding api examples to DVC and LVC
  content/shared/influxdb3-admin/distinct-value-cache/create.md
  content/shared/influxdb3-admin/distinct-value-cache/query.md
  content/shared/influxdb3-admin/distinct-value-cache/show.md
  content/shared/influxdb3-admin/last-value-cache/create.md
  content/shared/influxdb3-admin/last-value-cache/delete.md
  content/shared/influxdb3-admin/last-value-cache/show.md
Labels: API

#6274 Docs/5625 v1 get query endpoint
  api-docs/influxdb3/cloud-dedicated/v1-compatibility/swaggerV1Compat.yml
  api-docs/influxdb3/cloud-serverless/v1-compatibility/swaggerV1Compat.yml
  api-docs/influxdb3/clustered/v1-compatibility/swaggerV1Compat.yml
Labels: API

#6327 chore: add more clarity to Explorer quick start
  content/influxdb3/explorer/_index.md
  content/influxdb3/explorer/get-started.md
Labels: InfluxDB 3 Explorer
